askhsh 2
is=false
i=len(list)
sum1=0
sum2=0
j=0
for(j=0, j<=i ,j++)
{
if list(j) = "("
{
sum1=sum1+1
}
if list(j) = ")"
{sum2=sum2+1
}
}
if sum1=sum2 
{
is=true
}
//θα δημιουργήσω δυο μεταβλητές sum1 και sum2 οι οποίες θα μετρούν τα
 άθροισμα των ( και των ) αντίστοιχα. Αν οι τιμές των δυο αυτών
 μεταβλητών είναι ίσες τότε μπορεί η ακολουθία αυτή να είναι μια
 αριθμητική παράσταση, έτσι επιστρέφεται η τιμή  true στην λογική
 μεταβλητή is διαφορετικά η τιμή της λογικής μεταβλητής is παραμένει
 false όπως και έχει αρχικοποιηθεί. 
